animus==0.0.2
datasets==2.8.0
deeppavlov==1.1.1
diffusers==0.12.1
imageio-ffmpeg==0.4.8
Levenshtein==0.21.0
matplotlib==3.7.1
numba==0.56.4
numpy==1.24.3
pandas==2.0.1
pytorch-lightning==2.0.2
seaborn==0.12.2
torch==2.0.1
torchaudio==2.0.2
torchmetrics==0.11.4
torchtext==0.13.0
torchvision==0.15.2
transformers==4.27.2
